<section>
  <h2>Forget Password</h2>
  @if(step===1){

  <form
    class="bg-main-light rounded-4 shadow p-3 my-3"
    [formGroup]="verifiyEmail"
    (ngSubmit)="verifiysEmailSubmit()"
  >
    <div class="my-2">
      <label for="email">Email</label>
      <input
        [ngClass]="{
        'is-valid':!verifiyEmail.get('email')?.errors &&
        (verifiyEmail.get('email')?.touched||verifiyEmail.get('email')?.dirty ),
        'is-invalid':verifiyEmail.get('email')?.errors &&
        (verifiyEmail.get('email')?.touched||verifiyEmail.get('email')?.dirty ),
      }"
        type="email"
        formControlName="email"
        class="form-control"
      />
      @if( verifiyEmail.get('email')?.errors &&
      (verifiyEmail.get('email')?.touched||verifiyEmail.get('email')?.dirty )){
      <div class="alert alert-danger w-100">
        @if (verifiyEmail.get('email')?.getError('required')) {
        <P class="m-0">Email is required</P>} @else if
        (verifiyEmail.get('email')?.getError('email')) {
        <P class="m-0">Enter Valid Email </P> }
      </div>
      }
    </div>
    <button [disabled]="verifiyEmail.invalid" class="btn-main">
      Verify Email
    </button>
  </form>
  } @else if(step===2){
  <form
    class="bg-main-light rounded-4 shadow p-3 my-3"
    [formGroup]="verifiyCode"
    (ngSubmit)="verifiyCodeSubmit()"
  >
    <div class="my-2">
      <label for="code">Code</label>
      <input
        [ngClass]="{
        'is-valid':!verifiyCode.get('resetCode')?.errors &&
        (verifiyCode.get('resetCode')?.touched||verifiyCode.get('resetCode')?.dirty ),
        'is-invalid':verifiyCode.get('resetCode')?.errors &&
        (verifiyCode.get('resetCode')?.touched||verifiyCode.get('resetCode')?.dirty ),
      }"
        type="resetCode"
        formControlName="resetCode"
        class="form-control"
      />
      @if( verifiyCode.get('resetCode')?.errors &&
      (verifiyCode.get('resetCode')?.touched||verifiyCode.get('resetCode')?.dirty
      )){
      <div class="alert alert-danger w-100">
        @if (verifiyCode.get('resetCode')?.getError('required')) {
        <P class="m-0">ResetCode is required</P>} @else if
        (verifiyCode.get('resetCode')?.getError('pattern')) {
        <P class="m-0">Code Must be 6 chars</P> }
      </div>
      }
    </div>
    <button [disabled]="verifiyCode.invalid" class="btn-main">
      Verify Code
    </button>
  </form>
  } @else if(step===3){
  <form
    class="bg-main-light rounded-4 shadow p-3 my-3"
    [formGroup]="resetPassword"
    (ngSubmit)="verifiyPasswordSubmit()"
  >
    <div class="my-2">
      <label for="email">Email</label>
      <input
        readonly
        type="email"
        formControlName="email"
        class="form-control"
      />
    </div>
    <div class="my-2">
      <label for="password">Password</label>
      <input
        [ngClass]="{
        'is-valid':!resetPassword.get('password')?.errors &&
        (resetPassword.get('password')?.touched||resetPassword.get('password')?.dirty ),
        'is-invalid':resetPassword.get('password')?.errors &&
        (resetPassword.get('password')?.touched||resetPassword.get('password')?.dirty ),
      }"
        type="password"
        formControlName="newPassword"
        class="form-control"
      />
      @if( resetPassword.get('password')?.errors &&
      (resetPassword.get('password')?.touched||resetPassword.get('password')?.dirty
      )){
      <div class="alert alert-danger w-100">
        @if (resetPassword.get('password')?.getError('required')) {
        <P class="m-0">password is required</P>} @else if
        (resetPassword.get('password')?.getError('pattern')) {
        <P class="m-0">must be at least 6 chars </P> }
      </div>
      }
    </div>
    <button [disabled]="resetPassword.invalid" class="btn-main">Reset</button>
  </form>
  }
</section>
